In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

dataset = pd.read_csv('dataset_world_happiness.csv')
print(dataset.isnull().sum())

Country                          303
Region                           150
Happiness Rank                     0
Happiness Score                    0
GDP Per Capita                     0
Family                           303
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      1
Generosity                         0
Dystopia Residual                303
Year                               0
dtype: int64

In [37]:
# break up data by years
def separateYears(data,year):
    if(year>2015):
        return data.loc[data['Year']==year].reset_index()
    else:
        return data.loc[data['Year']==year]

In [45]:
# 2015
dataset_2015 = separateYears(dataset, 2015) 
print(dataset_2015.isnull().sum())

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
GDP Per Capita                   0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
Year                             0
dtype: int64

In [44]:
# 2016
dataset_2016 = separateYears(dataset,2016)
dataset_2016.drop('index', inplace=True, axis=1)
dataset_2016.drop('Region',inplace=True, axis=1)
print(dataset_2016.isnull().sum())

Country                          0
Happiness Rank                   0
Happiness Score                  0
GDP Per Capita                   0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
Year                             0
dtype: int64

In [40]:
# 2017
dataset_2017 = separateYears(dataset,2017)
dataset_2017.drop('index', inplace=True, axis=1)
dataset_2017.drop('Region',inplace=True, axis=1)
print(dataset_2017.isnull().sum())

Country                          0
Happiness Rank                   0
Happiness Score                  0
GDP Per Capita                   0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
Year                             0
dtype: int64

In [41]:
#2018
dataset_2018 = separateYears(dataset,2018)
#dataset_2018.pop('Year')
dataset_2018.drop('index', inplace=True, axis=1)
dataset_2018.Country.fillna(dataset_2018.Region, inplace=True)
print("\nAfter")
dataset_2018.drop('Region',inplace=True, axis=1)
print(dataset_2018.isnull().sum())

After
Country                            0
Happiness Rank                     0
Happiness Score                    0
GDP Per Capita                     0
Family                           149
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      1
Generosity                         0
Dystopia Residual                149
Year                               0
dtype: int64

In [54]:
# 2019
dataset_2019 = separateYears(dataset,2019)
dataset_2019.drop('index', inplace=True, axis=1)

In [55]:
dataset_2019.Country.fillna(dataset_2019.Region, inplace=True)
dataset_2019.drop('Region',inplace =True, axis =1)
print(dataset_2019.isnull().sum())

Country                            0
Happiness Rank                     0
Happiness Score                    0
GDP Per Capita                     0
Family                           154
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      0
Generosity                         0
Dystopia Residual                154
Year                               0
dtype: int64

In [56]:
dataset_2019

,Country,Happiness Rank,Happiness Score,GDP Per Capita,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Finland,1,7.769,1.340,NaN,0.986,0.596,0.393,0.153,NaN,2019
1,Denmark,2,7.600,1.383,NaN,0.996,0.592,0.410,0.252,NaN,2019
2,Norway,3,7.554,1.488,NaN,1.028,0.603,0.341,0.271,NaN,2019
3,Iceland,4,7.494,1.380,NaN,1.026,0.591,0.118,0.354,NaN,2019
4,Netherlands,5,7.488,1.396,NaN,0.999,0.557,0.298,0.322,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...
149,Rwanda,152,3.334,0.359,NaN,0.614,0.555,0.411,0.217,NaN,2019
150,Tanzania,153,3.231,0.476,NaN,0.499,0.417,0.147,0.276,NaN,2019
151,Afghanistan,154,3.203,0.350,NaN,0.361,0.000,0.025,0.158,NaN,2019
152,Central African Republic,155,3.083,0.026,NaN,0.105,0.225,0.035,0.235,NaN,2019
153,South Sudan,156,2.853,0.306,NaN,0.295,0.010,0.091,0.202,NaN,2019